In [3]:
import pandas as pd
import plotly.express as px

In [4]:
df = pd.read_csv(r'C:\Users\matth\OneDrive\Desktop\Ch-6-Project-1\vehicles_us.csv')

In [5]:
# Display first few rows
df.head()

# Get basic information about the dataset
df.info()

# Check for missing values
df.isnull().sum()

# Get summary statistics
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

In [6]:
df['is_4wd'].fillna(0, inplace=True)

C:\Users\matth\AppData\Local\Temp\ipykernel_4388\803719944.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_4wd'].fillna(0, inplace=True)

In [7]:
df['is_4wd'] = df['is_4wd'].astype(int)

In [8]:
df['is_4wd'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        51525 non-null  int64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(3), int64(3), object(7)
memory usage: 5.1+ MB

In [9]:
import pandas as pd
import streamlit as st

# Convert the price column to numeric, forcing any errors to NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Drop rows where price is NaN (optional, depends on your use case)
df = df.dropna(subset=['price'])

# Sample the data
st.write(df.sample(10))

2024-09-13 13:23:07.535 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:23:07.663
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\matth\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-09-13 13:23:07.664 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [10]:
# Convert the price column to numeric, forcing any errors to NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Drop rows where price is NaN (optional, depends on your use case)
df = df.dropna(subset=['price'])

# Sample the data
st.write(df.sample(10))

2024-09-13 13:23:07.677 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:23:07.677 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [11]:
import pandas as pd

# Assuming df is your DataFrame and 'price' is the column you're checking
non_numeric_prices = df[~pd.to_numeric(df['price'], errors='coerce').notnull()]

# Display non-numeric rows
print(non_numeric_prices)

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [12]:

# Check for null values in the 'price' column
missing_prices = df[df['price'].isnull()]
print(missing_prices)

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [13]:
# Check for extremely high or low values
outlier_prices = df[(df['price'] < 0) | (df['price'] > 1000000)]
print(outlier_prices)

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [14]:
# Check the data type of the 'price' column
print(df['price'].dtype)

int64

In [15]:
# Check the number of rows and columns in the DataFrame
print(df.shape)

# Preview the first few rows of the DataFrame
print(df.head())

(51525, 13)
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN       1  2018-06-23           19
1    automatic  pickup       white       1  2018-10-19           50
2    automatic   sedan         red       0  2019-02-07           79
3    automatic  pickup         NaN       0  2019-03-22            9
4    automatic   sedan       black       0  2019-04-02           28

In [16]:
print(df.isna().sum())

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color     9267
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [17]:

df_filled = df.fillna({
    'model_year': df['model_year'].mean(),
    'odometer': df['odometer'].mean(),
    'paint_color': 'unknown',
    'is_4wd': 0
})

In [18]:
print(df_filled.isna().sum())

price              0
model_year         0
model              0
condition          0
cylinders       5260
fuel               0
odometer           0
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [19]:
st.write(df_filled.sample(10))

2024-09-13 13:23:07.759 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:23:07.759 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [20]:
import pandas as pd
import plotly.express as px
import streamlit as st
import scipy

In [21]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [22]:
df['price'] = df['price'].fillna(0)  # or df['price'].dropna()

In [23]:
df['price'] = df['price'].astype('int64')

In [24]:
st.write(df.dtypes)

2024-09-13 13:23:48.491 Serialization of dataframe to Arrow table was unsuccessful due to: ("Could not convert dtype('int64') with type numpy.dtypes.Int64DType: did not recognize Python value type when inferring an Arrow data type", 'Conversion failed for column 0 with type object'). Applying automatic fixes for column types to make the dataframe Arrow-compatible.
2024-09-13 13:23:48.492 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:23:48.493 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [25]:
print(df['price'].apply(type).value_counts())

price
<class 'int'>    51525
Name: count, dtype: int64

In [26]:
df['price'] = df['price'].fillna(0)  # Replace NaN with 0

In [27]:
st.write(df.dtypes)

2024-09-13 13:27:18.075 Serialization of dataframe to Arrow table was unsuccessful due to: ("Could not convert dtype('int64') with type numpy.dtypes.Int64DType: did not recognize Python value type when inferring an Arrow data type", 'Conversion failed for column 0 with type object'). Applying automatic fixes for column types to make the dataframe Arrow-compatible.
2024-09-13 13:27:18.076 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:27:18.076 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [28]:
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')
df = df.dropna(subset=['odometer'])

In [29]:
st.write("Missing values in 'price':", df['price'].isnull().sum())
st.write("Missing values in 'odometer':", df['odometer'].isnull().sum())

2024-09-13 13:30:35.513 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.514 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.514 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.514 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.515 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.515 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.516 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-13 13:30:35.516 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [30]:
df_sample = df.sample(n=1000)  # Use a smaller subset for plotting