# Vehicle Data Analysis

This notebook provides an analysis of the vehicle dataset, including trends in pricing, mileage, and vehicle condition.

---

## Introduction

In this notebook, we explore the vehicle dataset using Pandas and Plotly Express. The goal is to gain insights into factors affecting vehicle prices and how different attributes such as odometer readings and condition influence pricing.

In [64]:
import pandas as pd
import plotly.express as px
import streamlit as st
import scipy

In [65]:
df = pd.read_csv(r'C:\Users\matth\OneDrive\Desktop\Ch-6-Project-1\vehicles_us.csv')

In [66]:
# Display first few rows
df.head()

# Get basic information about the dataset
df.info()

# Check for missing values
df.isnull().sum()

# Get summary statistics
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

In [67]:
# Replace missing values in the 'is_4wd' column with 0, assuming vehicles with NaN values do not have 4-wheel drive
df['is_4wd'].fillna(0, inplace=True)

C:\Users\matth\AppData\Local\Temp\ipykernel_5560\1460705395.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['is_4wd'].fillna(0, inplace=True)

In [68]:
# Convert the 'is_4wd' column to integer type since it's a binary indicator (0 = no 4WD, 1 = has 4WD)
df['is_4wd'] = df['is_4wd'].astype(int)

In [69]:
# Display the count of each unique value in the 'is_4wd' column (0 = no 4WD, 1 = has 4WD)
df['is_4wd'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        51525 non-null  int64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(3), int64(3), object(7)
memory usage: 5.1+ MB

In [70]:
# Convert the price column to numeric, forcing any errors to NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Drop rows where price is NaN (optional, depends on your use case)
df = df.dropna(subset=['price'])

# Sample the data
st.write(df.sample(10))

2024-09-16 10:59:03.261 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.262 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [71]:
# Convert the price column to numeric, forcing any errors to NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Drop rows where price is NaN (optional, depends on your use case)
df = df.dropna(subset=['price'])

# Sample the data
st.write(df.sample(10))

2024-09-16 10:59:03.273 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.274 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [72]:
# Assuming df is your DataFrame and 'price' is the column you're checking
non_numeric_prices = df[~pd.to_numeric(df['price'], errors='coerce').notnull()]

# Display non-numeric rows
print(non_numeric_prices)

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [73]:
# Check for null values in the 'price' column
missing_prices = df[df['price'].isnull()]
print(missing_prices)

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [74]:
# Check for extremely high or low values
outlier_prices = df[(df['price'] < 0) | (df['price'] > 1000000)]
print(outlier_prices)

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [75]:
# Check the data type of the 'price' column
print(df['price'].dtype)

int64

In [76]:
# Check the number of rows and columns in the DataFrame
print(df.shape)

# Preview the first few rows of the DataFrame
print(df.head())

(51525, 13)
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN       1  2018-06-23           19
1    automatic  pickup       white       1  2018-10-19           50
2    automatic   sedan         red       0  2019-02-07           79
3    automatic  pickup         NaN       0  2019-03-22            9
4    automatic   sedan       black       0  2019-04-02           28

In [77]:
print(df.isna().sum())

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color     9267
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [78]:
# Fill missing values in specific columns with appropriate defaults:
# 'model_year' and 'odometer' are filled with their respective column averages,
# 'paint_color' is filled with 'unknown', and 'is_4wd' is filled with 0 (no 4WD).
df_filled = df.fillna({
    'model_year': df['model_year'].mean(),
    'odometer': df['odometer'].mean(),
    'paint_color': 'unknown',
    'is_4wd': 0
})

In [79]:
print(df_filled.isna().sum())

price              0
model_year         0
model              0
condition          0
cylinders       5260
fuel               0
odometer           0
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [80]:
st.write(df_filled.sample(10))

2024-09-16 10:59:03.352 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.353 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [81]:
# Convert the 'price' column to numeric type, coercing invalid values to NaN
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [82]:
# Replace missing values in the 'price' column with 0, assuming a missing price indicates no cost or invalid entry
df['price'] = df['price'].fillna(0)

In [83]:
# Convert the 'price' column to integer type after filling missing values with 0
df['price'] = df['price'].astype('int64')

In [84]:
st.write(df.dtypes)

2024-09-16 10:59:03.380 Serialization of dataframe to Arrow table was unsuccessful due to: ("Could not convert dtype('int64') with type numpy.dtypes.Int64DType: did not recognize Python value type when inferring an Arrow data type", 'Conversion failed for column 0 with type object'). Applying automatic fixes for column types to make the dataframe Arrow-compatible.
2024-09-16 10:59:03.382 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.382 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [85]:
# Print the count of each data type in the 'price' column to verify all values are integers
print(df['price'].apply(type).value_counts())

price
<class 'int'>    51525
Name: count, dtype: int64

In [86]:
df['price'] = df['price'].fillna(0)  # Replace NaN with 0

In [87]:
st.write(df.dtypes)

2024-09-16 10:59:03.405 Serialization of dataframe to Arrow table was unsuccessful due to: ("Could not convert dtype('int64') with type numpy.dtypes.Int64DType: did not recognize Python value type when inferring an Arrow data type", 'Conversion failed for column 0 with type object'). Applying automatic fixes for column types to make the dataframe Arrow-compatible.
2024-09-16 10:59:03.406 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.407 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [88]:
# Convert the 'odometer' column to numeric type, coercing invalid values to NaN
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')
# Drop rows where the 'odometer' column has NaN values, as these represent missing or invalid data
df = df.dropna(subset=['odometer'])

In [89]:
# Display the number of missing values in the 'price' and 'odometer' columns
st.write("Missing values in 'price':", df['price'].isnull().sum())
st.write("Missing values in 'odometer':", df['odometer'].isnull().sum())

2024-09-16 10:59:03.424 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.424 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.425 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.425 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.426 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.427 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.427 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-16 10:59:03.427 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [90]:
df_sample = df.sample(n=1000)  # Use a smaller subset for plotting

In [91]:
#Check for duplicates
duplicates= df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

In [92]:
# Fill missing 'model_year' by median year within each car model
df['model_year'] = df.groupby('model')['model_year'].transform(lambda x: x.fillna(x.median()))

# Fill missing 'odometer' based on condition
df['odometer'] = df.groupby('condition')['odometer'].transform(lambda x: x.fillna(x.median()))

## Conclusion

In this notebook, we set out to analyze vehicle data to understand various trends and patterns related to vehicle pricing, condition, and mileage. The goal was to provide insights into how these factors interact and affect vehicle prices.

**Key Findings:**
- **Price Distribution**: The histogram of vehicle prices revealed that most vehicles were sold between $10,000 and $20,000.
- **Price vs. Odometer**: The scatter plot showed a general trend of decreasing price with increasing odometer readings, indicating that higher mileage vehicles tend to have lower prices.
- **Condition Analysis**: Vehicles with better conditions generally have higher prices, which aligns with common expectations.

Additionally, missing values were addressed, and the dataset was cleaned to ensure accurate analysis.

**Implications:**
The analysis provides valuable insights for potential buyers and sellers. Understanding the relationship between vehicle price and mileage can help in making informed decisions about vehicle purchases or sales. Sellers might focus on maintaining vehicle condition to achieve higher prices, while buyers can use mileage as a key factor in price negotiations.

**Limitations and Future Work:**
- The analysis was limited to the available data and did not account for external factors such as market trends or economic conditions.
- Future work could involve incorporating additional features, such as vehicle make and model, to provide a more comprehensive analysis.

In conclusion, this analysis highlights the key factors influencing vehicle prices and provides a foundation for further exploration. By understanding these trends, stakeholders can make more informed decisions in the vehicle market.